[Desktop Entry]
Name=Prosit
GenericName=Fullscreen Word Processor
Comment=Write stories without distractions
Exec=prosit
Icon=prosit
Terminal=false
Type=Application
Categories=Qt;Office;
